<h3>Hello {{username}}</h3>

<img src="https://media.npr.org/assets/img/2019/05/17/gettyimages-611696954_wide-7ccf1c1dbd6bf693f32364d6a0cd1b92c554859a-s800-c85.jpg">

<button type="submit" class="btn btn-danger cat-btn"><a class="private-btn" href="/private">Private</a></button>